Lab2/.metadata/.lock
Lab2/.metadata/.log
Lab2/.metadata/version.ini
Lab2/.metadata/.mylyn/repositories.xml.zip
Lab2/.metadata/.mylyn/tasks.xml.zip
Lab2/.metadata/.mylyn/.taskListIndex/segments.gen
Lab2/.metadata/.mylyn/.taskListIndex/segments_1
Lab2/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Lab2/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Lab2/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Lab2/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Lab2/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Lab2/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.tigris.subversion.subclipse.tools.usage.prefs
Lab2/.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
Lab2/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Lab2/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Lab2/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Lab2/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Lab2/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Lab2/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Lab2/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Lab2/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Lab2/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.2.0.20120903-1050.xml
Lab2/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Lab2/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Lab2/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
Lab2/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Lab2/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Lab2/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_gwt.png
Lab2/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swing.png
Lab2/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_swt.png
Lab2/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkit_xwt.png
Lab2/.metadata/.plugins/org.eclipse.wb.discovery.core/toolkits.xml
